.app {
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/artist.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app > div {
  margin: 0 0 0 1rem;
}
.app > div > span {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.app > div > span > p {
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
}
